configs:

  zrbStartDockerCompose:
    localhost: 'localhost'
    _start: |
      if [ -z "$(docker-compose top)" ]
      then
        {{ .GetConfig "_startEnv" }}
        echo "${_CONTAINER_ICON} ${_BOLD}${_YELLOW}Starting docker compose${_NORMAL}"
        {{ .GetConfig "prepareDockerComposeEnv" }}
        docker-compose up -d
      else
        echo "${_CONTAINER_ICON} ${_BOLD}${_YELLOW}Docker compose is already running${_NORMAL}"
      fi
      echo "${_CONTAINER_ICON} ${_BOLD}${_YELLOW}Logging docker compose${_NORMAL}"
      docker-compose logs --follow
    _startEnv: |
      {{ $this := . -}}
      {{ if eq (.GetConfig "localhost") "localhost" -}}
        {{ range $key, $val := $this.GetEnvs -}}
          export {{ $this.Util.Str.EscapeShellValue (printf "%s=%s" $key $val) }}
        {{ end -}}
      {{ else -}}
        {{ range $key, $val := $this.GetEnvs -}}
          {{ $val = $this.ReplaceAll $val "localhost" ($this.GetConfig "localhost") -}}
          {{ $val = $this.ReplaceAll $val "127.0.0.1" ($this.GetConfig "localhost") -}}
          {{ $val = $this.ReplaceAll $val "0.0.0.0" ($this.GetConfig "localhost") -}}
          export {{ $this.Util.Str.EscapeShellValue (printf "%s=%s" $key $val) }}
        {{ end -}}
      {{ end -}}