export SPARK_MODE=worker
export SPARK_PUBLIC_DNS=host.docker.internal
export SPARK_MASTER_URL=spark://host.docker.internal:7077
export SPARK_MASTER_WEBUI_PORT=8020
export SPARK_WORKER_MEMORY=1G
export SPARK_WORKER_CORES=1
export SPARK_WORKER_WEBUI_PORT=8021
export SPARK_RPC_AUTHENTICATION_ENABLED=no
export SPARK_RPC_ENCRYPTION_ENABLED=no
export SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
export SPARK_SSL_ENABLED=no