env:
  CONDA_SH_PATH: ${HOME}/anaconda3/etc/profile.d/conda.sh

components:

  servicename-create-env:
    type: command
    start: source ${CONDA_SH_PATH} && (conda env create --file=environment.yml || conda env update --file=environment.yml  --prune || echo "Failed. Keep going.")

  servicename-test:
    type: command
    env:
      SERVICENAME_HTTP_PORT: 4010
      GLOBAL_RMQ_CONNECTION_STRING: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${rmq}:5672/
      LOCAL_RMQ_CONNECTION_STRING: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${rmq}:5672/
      TEST_RMQ_CONNECTION_STRING: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${rmq}:5672/
    start:  source ${CONDA_SH_PATH} && conda activate servicename && python -m pytest
    dependencies:
      - servicename-create-env
      - rmq

  servicename:
    type: service
    origin: "" # fill this one with your git repository
    branch: master
    env:
      SERVICENAME_HTTP_PORT: 3010
      GLOBAL_RMQ_CONNECTION_STRING: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${rmq}:5672/
      LOCAL_RMQ_CONNECTION_STRING: amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${rmq}:5672/
    start: source ${CONDA_SH_PATH} && conda activate servicename && python main.py
    readinessCheck: curl ${servicename}:${SERVICENAME_HTTP_PORT}/readiness
    dependencies:
      - servicename-create-env
      - rmq

links:
  ../../libraries/python/transport:
    - ./transport
  ../../libraries/python/core:
    - ./core
