export SPARK_MODE=master
export SPARK_PUBLIC_DNS=host.docker.internal
export SPARK_MASTER_WEBUI_PORT=8020
export SPARK_RPC_AUTHENTICATION_ENABLED=no
export SPARK_RPC_ENCRYPTION_ENABLED=no
export SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
export SPARK_SSL_ENABLED=no