configs:

  ztplAppName:
    runInLocal: '{{ .GetValue "runZtplAppNameInLocal" }}'
    ports: |
      ztplAppYamlPorts
    beforeStart: |
      mkdir -p "${DOCKER_COMPOSE_VOLUME}/postgresql"
      mkdir -p "${DOCKER_COMPOSE_VOLUME}/redis"
      mkdir -p "${DOCKER_COMPOSE_VOLUME}/dag"
      set +e
      chmod -R 777 "${DOCKER_COMPOSE_VOLUME}"
      set -e
    afterCheck: sleep 3
    checkCommand: |
      ztplAppCheckCommand
  
  ztplAppNameImage:
    useImagePrefix: true
    imageName: ztpl-app-image-name
