# https://github.com/bitnami/bitnami-docker-spark/blob/master/docker-compose.yml
version: '2'

services:

  spark:
    image: docker.io/bitnami/spark:3
    hostname: spark
    container_name: ztplAppContainerName
    restart: unless-stopped
    environment:
      - SPARK_MODE=master
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no
    ports:
      - '${SPARK_MASTER_UI_PORT:-9090}:8080'

  spark-worker:
    image: docker.io/bitnami/spark:3
    hostname: spark-worker
    container_name: ztplAppContainerNameWorker
    restart: unless-stopped
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark:7077
      - SPARK_WORKER_MEMORY=1G
      - SPARK_WORKER_CORES=1
      - SPARK_RPC_AUTHENTICATION_ENABLED=no
      - SPARK_RPC_ENCRYPTION_ENABLED=no
      - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
      - SPARK_SSL_ENABLED=no