export AKHQ_CONFIGURATION=akhq:\n  connections:\n    docker-kafka-server:\n      properties:\n        bootstrap.servers: 'ztplAppContainerName:9092'\n      schema-registry:\n        url: 'http://ztplAppContainerNameSchemaRegistry:8085'\n      connect:\n        - name: 'connect'\n          url: 'http://ztplAppContainerNameConnect:8083'