aiofiles==0.7.0
alembic==1.8.0
asgiref==3.4.1
attrs==21.4.0
avro-python3==1.10.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.1
confluent-kafka==1.8.2
coverage==6.4.1
cryptography==36.0.1
ecdsa==0.17.0
fastapi==0.68.1
fastavro==1.4.9
greenlet==1.1.1
h11==0.12.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.7.1
iniconfig==1.1.1
Jinja2==3.0.3
jsons==1.5.1
mako==1.2.2
MarkupSafe==2.1.1
packaging==21.3
passlib==1.7.4
pika==1.2.0
pluggy==1.0.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.8.2
PyMySQL==1.0.2
pyparsing==3.0.9
pytest==6.2.5
pytest-asyncio==0.19.0
pytest-cov==3.0.0
python-jose==3.3.0
python-multipart==0.0.5
requests==2.27.1
rsa==4.8
six==1.16.0
SQLAlchemy==1.4.23
starlette==0.14.2
toml==0.10.2
tomli==2.0.1
typing-extensions==3.10.0.2
typish==1.9.3
urllib3==1.26.8
uuid==1.30
uvicorn==0.15.0
zipp==3.8.0
