server {
    # -- SSL Configuration
    #
    # listen       443 ssl;
    # listen  [::]:443 ssl;
    #
    # ssl_certificate     /etc/letsencrypt/live/<domain.com>/fullchain.pem;
    # ssl_certificate_key /etc/letsencrypt/live/<domain.com>/privkey.pem; 
    #
    # ssl_session_cache    shared:SSL:1m;
    # ssl_session_timeout  5m;
    #
    # ssl_ciphers  HIGH:!aNULL:!MD5;
    # ssl_prefer_server_ciphers  on;

    # -- Non SSL Configuration
    #
    listen       443;
    listen  [::]:443;

    # -- Serve static file 
    location / {
      root   html;
      index  index.html index.htm;
    }

    # -- Reverse proxy
    #
    # location / {
    #     proxy_set_header X-Real-IP $remote_addr;
    #     proxy_set_header HOST $http_host;
    #     proxy_set_header X-NginX-Proxy true;

    #     proxy_pass http://[your_container_alias]:[your_container_port];
    #     proxy_redirect off;
    # }
}

server {
    # -- Non SSL Configuration
    #
    listen       80;
    listen  [::]:80;

    location ~ /.well-known/acme-challenge {
        root acme-challenge;
        allow all;
    }


    # -- Redirect to https 
    # if ($scheme != "https") {
    #     return 301 https://$host$request_uri;
    # }

    # -- Serve static file 
    location / {
      root   html;
      index  index.html index.htm;
    }

    # -- Reverse proxy
    #
    # location / {
    #     proxy_set_header X-Real-IP $remote_addr;
    #     proxy_set_header HOST $http_host;
    #     proxy_set_header X-NginX-Proxy true;

    #     proxy_pass http://[your_container_alias]:[your_container_port];
    #     proxy_redirect off;
    # }
}