PULUMI_CONFIG_PASSPHRASE=defaultLocalPulumiPassphrase
PULUMI_BACKEND_URL=

NAMESPACE=default

IMAGE_REGISTRY=docker.io
IMAGE_REPOSITORY=bitnami/mysql
IMAGE_TAG=8.0.29

AUTH_ROOT_PASSWORD=Alch3mist
AUTH_DATABASE=sample
AUTH_USERNAME=mysql
AUTH_PASSWORD=Alch3mist
AUTH_REPLICATION_USER=replicator
AUTH_REPLICATION_PASSWORD=Alch3mist

GLOBAL_FULLNAME_OVERRIDE=

PRIMARY_SERVICE_TYPE=ClusterIP
PRIMARY_SERVICE_PORT=3306