GITLAB_OMNIBUS_CONFIG="\nexternal_url 'http://host.docker.internal:8929';\ngitlab_rails['gitlab_shell_ssh_port'] = 2224;\ngitlab_rails['initial_root_password'] = 'Alch3mist';\ngitlab_rails['initial_shared_runners_registration_token'] = 'token';\ngitlab_rails['gitlab_default_theme'] = 8;\n"