# https://docs.gitlab.com/ee/install/docker.html#install-gitlab-using-docker-compose
version: '3.7'
services:

  web:
    image: docker.io/gitlab/gitlab-ce:latest
    hostname: web
    container_name: ztplAppContainerNameWeb
    restart: unless-stopped
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://ztplAppContainerNameWeb:${GITLAB_HTTP_PORT:-8929}';
        gitlab_rails['gitlab_shell_ssh_port'] = 2224;
        gitlab_rails['initial_root_password'] = 'Alch3mist';
        gitlab_rails['initial_shared_runners_registration_token'] = 'Alch3mist';
        gitlab_rails['gitlab_default_theme'] = 8;
      GITLAB_WEB_LIVENESS_URL: "http://ztplAppContainerNameWeb:${GITLAB_HTTP_PORT:-8929}/-/liveness"
    ports:
      - '${GITLAB_HTTP_PORT:-8929}:${GITLAB_HTTP_PORT:-8929}'
      - '8443:443'
    volumes:
      - '${DOCKER_COMPOSE_VOLUME:-./volumes}/config:/etc/gitlab'
      - '${DOCKER_COMPOSE_VOLUME:-./volumes}/logs:/var/log/gitlab'
      - '${DOCKER_COMPOSE_VOLUME:-./volumes}/data:/var/opt/gitlab'

  gitlab-runner:
    image: docker.io/gitlab/gitlab-runner:latest
    hostname: gitlab-runner
    container_name: ztplAppContainerNameRunner
    restart: unless-stopped
    depends_on:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock