ALLOW_PLAINTEXT_LISTENER=yes
KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_CFG_LISTENERS=PLAINTEXT://localhost:9092
KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
KAFKA_CFG_SASL_ENABLED_MECHANISMS=PLAIN,SCRAM-SHA-256,SCRAM-SHA-512
KAFKA_CLIENT_USER=root
KAFKA_CLIENT_PASSWORD=Alch3mist
KAFKA_ZOOKEEPER_USER=root
KAFKA_ZOOKEEPER_PASSWORD=Alch3mist