export SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL='ztplAppContainerNameZookeeper:2181'
export SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS='PLAINTEXT://ztplAppContainerName:9092'
export SCHEMA_REGISTRY_HOST_NAME='ztplAppContainerNameSchemaRegistry'
export SCHEMA_REGISTRY_LISTENERS='http://0.0.0.0:8081'
export SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL='INFO'
export SCHEMA_REGISTRY_ACCESS_CONTROL_ALLOW_ORIGIN='*'
export SCHEMA_REGISTRY_ACCESS_CONTROL_ALLOW_METHODS='GET,POST,PUT,DELETE,OPTIONS'
