export SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS='PLAINTEXT:/ztplAppContainerName:9092'
export SCHEMA_REGISTRY_HOST_NAME='schema-registry'
export SCHEMA_REGISTRY_LISTENERS='http://0.0.0.0:8085'
export SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL='INFO'
