<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'default-partials/meta.html' %}
        {% include 'default-partials/include-css.html' %}
        <link rel="icon" type="image/x-icon" href="{{ public_url_path}}/favicon/favicon.ico">
        <title>{{ context.current_menu.title }}</title>
    </head>
    <body>
        {% include 'default-partials/navigation.html' %}
        {% include 'default-partials/include-js.html' %}
        <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader@0.8.4/dist/vue3-sfc-loader.js" crossorigin="anonymous"></script>
        <script src="{{ public_url_path}}/js/vue-sfc-loader-options.js" crossorigin="anonymous"></script>

        <div class="container">
            <h1>{{ context.current_menu.title }}</h1>
            {% include content_path %}
        </div>
    </body>
</html>