<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'default-partials/meta.html' %}
        {% include 'default-partials/include-css.html' %}
        <link rel="icon" type="image/x-icon" href="{{ public_url_path}}/favicon/favicon.ico">
        <title>{{ context.current_menu.title }}</title>
    </head>
    <body>
        {% include 'default-partials/navigation.html' %}
        {% include 'default-partials/include-js.html' %}

        <div id="app" class="container">
            <h1>{{ context.current_menu.title }}</h1>
            <div class="mb-3">
                <label for="login-username" class="form-label">Username/Email address</label>
                <input type="email" class="form-control" id="login-username" placeholder="name@example.com" v-model="username">
            </div>
            <div class="mb-3">
                <label for="login-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="login-password" placeholder="password" v-model="password" @keyup.enter="login">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3" @click="login">Log in</button>
            </div>
        </div>

        <script>
            const { createApp } = Vue;
            createApp({
                data() {
                    return {
                        username: '',
                        password: '',
                    }
                },
                methods: {
                    async login() {
                        try {
                            await appHelper.login('{{ backend_url }}{{ create_acess_token_path }}', this.username, this.password);
                            window.location = '/account/logout';
                        } catch (error) {
                            appHelper.alertError(error);
                        }
                    },
                }
            }).mount('#app');
        </script>

    </body>
</html>