<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'default-partials/meta.html' %}
        {% include 'default-partials/include-css.html' %}
        <link rel="icon" type="image/x-icon" href="{{ public_url_path}}/favicon/favicon.ico">
        {%if context.current_menu %}<title>{{ context.current_menu.title }}</title>{% endif %}
    </head>
    <body>
        {% include 'default-partials/navigation.html' %}
        {% include 'default-partials/include-js.html' %}
        <script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader@0.8.4/dist/vue3-sfc-loader.js" crossorigin="anonymous"></script>
        <div class="container">
            {%if context.current_menu %}<h1>{{ context.current_menu.title }}</h1>{% endif %}
            <hr />
            {% include content_path %}
            {% include 'default-partials/footer.html' %}
        </div>
    </body>
</html>