ZARUBA_ENV_PREFIX_HTTP_PORT=3000
ZARUBA_ENV_PREFIX_MESSAGE_BUS_TYPE=local
ZARUBA_ENV_PREFIX_RABBITMQ_HOST=localhost
ZARUBA_ENV_PREFIX_RABBITMQ_USER=root
ZARUBA_ENV_PREFIX_RABBITMQ_PASS=toor
ZARUBA_ENV_PREFIX_RABBITMQ_VHOST=/
ZARUBA_ENV_PREFIX_SQLALCHEMY_DATABASE_URL="sqlite:///./database.db"
ZARUBA_ENV_PREFIX_ENABLE_ROUTE_HANDLER=1
ZARUBA_ENV_PREFIX_ENABLE_EVENT_HANDLER=1